[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-restful = "*"
python-dotenv = "*"
marshmallow = "*"
colorama = "*"
flask-cors = "*"
psycopg2-binary = "*"
numpy = "*"
pillow = "*"
imagehash = "*"
gunicorn = "*"

[scripts]
start = "python3 api/main.py"
prod = "gunicorn -b 0.0.0.0:3000 api.main:flask_app"
test = "env ENV=test find tests -type f -name '*.py' -exec python3 -m unittest -v {} +"
test-only = "env ONLY=true ENV=test find tests -type f -name '*.py' -exec python3 -m unittest -v {} +"

[dev-packages]

[requires]
python_version = "3.10"
